---
import fondo1 from "../../assets/fondos/home_pre_bg.webp"
---
<div id="pagina-Container" class="overflow-hidden h-screen w-full">
    <section  id="0" class=" section h-screen flex items-center justify-center bg-teal-500 text-white text-4xl font-bold">
        <img src={fondo1.src} alt="fondo" class="w-full h-full object-cover" />
    </section>
    <section  id="1" class=" section h-screen flex items-center justify-center bg-red-500 text-white text-4xl font-bold">LOTERIA</section>
    <section  id="2" class=" section h-screen flex items-center justify-center bg-cyan-500 text-white text-4xl font-bold">MILESTONE</section>
    <section  id="3" class=" section h-screen flex items-center justify-center bg-blue-500 text-white text-4xl font-bold">NUEVO</section>
    <section  id="4" class=" section h-screen flex items-center justify-center bg-green-500 text-white text-4xl font-bold">CLASS</section>
    <section  id="5" class=" section h-screen flex items-center justify-center bg-yellow-500 text-white text-4xl font-bold">CONTENIDO DE MAGNA</section>
    <section  id="6" class=" section h-screen flex items-center justify-center bg-orange-500 text-white text-4xl font-bold">CARACTERISTICA</section>
</div>
